<div class="container mt-4">
    <h2>Liste des utilisateurs</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a [routerLink]="['/users/details', user.id]" class="btn btn-info btn-sm">Détails</a>
            <a [routerLink]="['/users/create']" class="btn btn-primary btn-sm">Modifier</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>